/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {  
  background-color: #fafafa;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}



.navbar-brand {
  a {
    color: #125688;
  }
}

.navbar-default {
  background-color: #fff;
  height: 54px;
  .navbar-nav li a {
    color: #125688;
  }
}

.navbar-container {
  width: 70%;
  margin: 0 auto;
}





html {  
  height: 100%;
}

.registration-bg {
  padding-top: 4em;
  height: 800px;
  background-image: image-url('back.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.log-in{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: none;
}

.panel {
  border-radius: 8px;
}

.panel-heading{
  h1 {
    text-align: center;
  }
}

.navbar {
  margin-bottom: 0px;
}

.alert {
  margin-bottom: 0px;
}

.login-bg {
  padding-top: 4em;
  height: 800px;
  background-image: image-url('back1.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


*{
  box-sizing: border-box;
}


.wrapper{
  width: 1000px;
  max-width:100%;
  margin: 0 auto;

}

.work{
  padding: 5em 0;
  background: #414148;
  height:1800px;

  .card{
    background: #FFFFFF;
    border-radius: .35em;
    height:450px;
    display: table;

  }
  .card_full{
    width: 100%;
     background: #FFFFFF;
    border-radius: .35em;
    height:300px;
    display: table;
  }
  .card_inner{
    display:table-cell;
    verticle-align: middle;
    height:100%;
    padding:1.5em 12%;

  }
  .inline{
    display: inline-table;
    position: relative;;
  }
}

